node_modules/
# Leftover react-native init scaffolds (not part of the app)
TempRN_*/

.env
.env.local
*.log
.DS_Store
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
ios/build/
.vscode/
*.tgz
